footer {
    padding: 4rem 5rem 2rem;
    border-top: 1px solid var(--cyan-3);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-top h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.email-text {
    color: var(--muted);
    font-size: 0.9rem;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-right ul {
    text-align: right;
}

.footer-main ul a {
    color: var(--muted);
    transition: color 0.2s ease;
}

.footer-bottom {
    text-align: center;
    color: var(--muted);
    font-size: 0.8rem;
    line-height: 1.6rem;
}

@media (width < 600px) {
    footer {
        padding: 3rem 2rem 2rem;
    }

    .footer-top {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .footer-main {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .footer-main ul {
        text-align: center;
    }

    .footer-right ul {
        text-align: center;
    }
}

@media (width > 600px) {
    footer ul a:hover {
        color: var(--cyan-2);
    }
}