* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --cyan-1: #A1D1C7;
    --cyan-2: #C2FDFF;
    --cyan-3: rgba(130, 173, 167, 0.452);
    --transparent: rgba(131, 130, 130, 0.05);
    --black: #000000;
    --dark: rgb(19, 18, 18);
    --white: #C8C8C8;
    --muted: #C5C5C5;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}